/* Time of day Colorings */
.morning {
    background: #ffe4c4;
    color: #772e08;
}

.midDay {
    background: #7f9c74;
    color: #172b16;
}

.evening {
    background: #798dd8;
    color: #081e77;
}